// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;

// Outer navigation wrapper
.navigation {
  height: $nav-height;
  background: $nav-background;
}

// Logo and branding
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

.my-custom-button{
  color: rgb(255, 102, 0);

}

// Container with no padding for navbar
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

// Navigation
nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: 798px) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

// Page content
article {
  max-width: $content-width;
  margin: 0 auto;
  padding: 10px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.profile-icon { border-radius: 50%;
}

.card-container {
  display: flex; /* Exibe os cards em linha */
  justify-content: space-around; /* Distribui o espaço horizontalmente */
  flex-wrap: nowrap; /* Impede que os cards quebrem para outra linha */
}

.card {
  /* Estilos dos cards */
  margin: 10px; /* Margem entre os cards */
}

/* Estilos para o banner */
.banner {
  // background-color: #921717; /* Cor de fundo do banner */
  background-size: cover;
  width: 100vw; /* Largura total da página */
  height: 50vh; /* Metade da altura da página */
  box-sizing: border-box; /* Inclui padding e bordas na largura total */
}

.card-box {
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px #c5c5c5;
  margin-bottom: 30px;
  float: left;
  border-radius: 10px;
}
.card-box .card-thumbnail {
  max-height: 200px;
  overflow: hidden;
  border-radius: 10px;
  transition: 1s;
}
.card-box .card-thumbnail:hover {
  transform: scale(1.2);
}
.card-box h3 a {
  font-size: 20px;
  text-decoration: none;
}

.content {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #878686;
}

.vehicle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vehicle-card {
  width: 350px;
  padding: 20px;
  height: 500px;
  margin: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-card {
  width: 350px;
  padding: 20px;
  height: 500px;
  margin: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 900px;
  height: auto;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vehicle-image {
  width: 80%;
  height: 60%;
  margin-bottom: 20px;
}

.vehicle-name {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.vehicle-desc {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 20px;
}

.vehicle-price {
  font-size: 1.5em;
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

input{
  width: 30%;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ccc;
}

input[type="text"],
input[type="password"], input[type="date"], select
{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ccc;
}

button {
  width: 80%;
  padding: 10px;
  font-size: 1.2em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
    .photos {
  width: 40%;
  padding: 10px;
  font-size: 0.8em;
  margin-bottom: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.custom-card .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.custom-card .content .heading {
  font-weight: 700;
  font-size: 32px;
}

.custom-card .content .para {
  line-height: 1.5;
}

.custom-card .content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.custom-card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.custom-card:hover::before {
  height: 100%;
}

.custom-card:hover {
  box-shadow: none;
}

.custom-card:hover .btn {
  color: #212121;
  background: #e8e8e8;
}

.custom-card .content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.custom-card .content .btn:active {
  box-shadow: none;
}

