<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Add a Order to your <%= @car.model %> list</h3>
        <%= simple_form_for [@car, @order] do |f| %>
          <%= f.input :comment, placeholder: 'Enter a comment about the car' %>
          <%= f.submit class: "btn btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
