<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="#!"><i class="fa-solid fa-car-side" style="color: #ed6b0f;"></i></i></a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="#!">Home</a>
        </li>
        <li>
          <a href="#!">About</a>
        </li>
        <li>
          <a href="#!">Services</a>
          <ul class="nav-dropdown">
            <li>
              <a href="#!">Buy</a>
            </li>
            <li>
              <a href="#!">Sell</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Portfolio</a>
          <ul class="nav-dropdown">
            <li>
              <a href="#!">Our Cars</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Contact</a>
        </li>
        <li>
          <a href="#!">
                    <img class src="https://cdn-icons-png.flaticon.com/512/1144/1144760.png" alt="Foto de Perfil" width="50" height="50">
          </a>
          <ul class="nav-dropdown">
            <li>
              <a href="#!">My profile</a>
            </li>
            <li>
              <a href="#!">My cars</a>
            </li>
            <li>
              <a href="#!">Log out</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</section>

<article>
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://cdn.autopapo.com.br/box/uploads/2021/04/01151531/chevrolet-onix-joy-2020.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://investnews.com.br/wp-content/uploads/2022/01/kwid2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://diariodocomercio.com.br/wp-content/uploads/2023/03/Fiat-Mobi-Trekking-1.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<div class="card-container">
  <div class="card" style="width: 18rem;">
    <img src="https://diariodocomercio.com.br/wp-content/uploads/2023/03/Fiat-Mobi-Trekking-1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">FIAT MOBI</h5>
      <p class="card-text">O queridinho do momento com nova motorização</p>
      <a href="#" class="btn btn-primary">Saiba mais</a>
    </div>
  </div>

 <div class="card" style="width: 18rem;">
    <img src="https://investnews.com.br/wp-content/uploads/2022/01/kwid2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">RENAULT KWID</h5>
      <p class="card-text">O elétrico por 120 mil, uma loucura só!</p>
      <a href="#" class="btn btn-primary">Saiba mais</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
      <img src="https://cdn.autopapo.com.br/box/uploads/2021/04/01151531/chevrolet-onix-joy-2020.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CHEVROLET ONIX</h5>
        <p class="card-text">Ameçeado de sair do mercado! O modelo continuará? </p>
        <a href="#" class="btn btn-primary">Saiba mais</a>
      </div>
    </div>
  </div>

</article>

<section class="navigation" id="second-navigation">
  <div class="nav-container">
    <!-- ... Estrutura da segunda barra de navegação ... -->
    <nav>
      <div class="nav-mobile"><a id="nav-toggle-bottom" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <!-- Adicione os itens do menu da segunda barra de navegação conforme necessário -->
        <li>
          <a href="#!">Termos de Uso</a>
        </li>
        <li>
          <a href="#!">Política de Privacidade</a>
        </li>
        <li>
          <a href="#!">FAQ</a>
        </li>
        <!-- ... Mais itens conforme necessário ... -->
      </ul>
    </nav>
  </div>
</section>
