<div class="banner" style="background-image: url(https://res.cloudinary.com/di69rkads/image/upload/v1700746571/Captura_de_Tela_2023-11-23_a%CC%80s_10.35.56_ti312s.png);"></div>

<article>
<%# -------------------------------------------------------------------------- %>
<%= form_with url: cars_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search model"
    %>
  <%= submit_tag "Search", name: "", class: "btn my-custom-button" %>
<% end %>
<%# -------------------------------------------------------------------------- %>
<div class="content">
    <h2 class="mt-4 mb-4 title"> <strong>FIND YOUR DRIVE! STAY VINTAGE</strong></h2>
    <h3>Explore the world's largest car vintage marketplace</h3>
</div>
<%# -------------------------------------------------------------------------- %>
<div class="container">
  <div class="row">
    <div class="col-12">
      </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-box">
            <div class="card-thumbnail">
              <img src="https://images.unsplash.com/photo-1544896478-d5b709d413c5?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dmludGFnZSUyMGNhcnxlbnwwfHwwfHx8MA%3D%3D" class="img-fluid" alt="">
            </div>
            <h3><a href="#" class="mt-2 text-dark">Autênticos</a></h3>
            <p class="text-secondary"></p>
          </div>
        </div>
<%# -------------------------------------------------------------------------- %>
    <div class="col-md-6 col-lg-4">
      <div class="card-box">
        <div class="card-thumbnail">
          <img src="https://hips.hearstapps.com/townandcountry/assets/16/14/1954-mercedes-300sl-gullwing-a_1.jpg" class="img-fluid" alt="">
        </div>
          <h3><a href="#" class="mt-2 text-dark">Originais</a></h3>
          <p class="text-secondary"></p>
      </div>
    </div>
<%# -------------------------------------------------------------------------- %>
    <div class="col-md-6 col-lg-4">
      <div class="card-box">
        <div class="card-thumbnail">
          <img src="https://hips.hearstapps.com/hmg-prod/images/kathleen-brooks-1967-annie-beetle-9207-1544465705.jpg" class="img-fluid" alt="">
        </div>
          <h3><a href="#" class="mt-2 text-dark">Restaurados</a></h3>
          <p class="text-secondary"></p>
      </div>
    </div>
<%# -------------------------------------------------------------------------- %>
  </div>
</div>

<div class="content">
    <h2 class="mt-4 mb-4 title"> <strong>VINTAGE IS COOL</strong></h2>
</div>

<div class="card-container">
<div class="custom-card">
  <div class="content">
    <p class="heading">Find the perfect car to conquer the great outdoors
    </p><p class="para">
      Go prepared in a rugged 4x4 to take on winter roads with ease, or a camper van to take you to the trees.
    </p>
    <button class="btn">Read more</button>
  </div>
</div>

<div class="custom-card">
  <div class="content">
    <p class="heading">Find the perfect car to unwind for the weekend
    </p><p class="para">
     From daily drivers to spirited sports cars, ditch the grind with convenient nearby cars.
    </p>
    <button class="btn">Read more</button>
  </div>
</div>

<div class="custom-card">
  <div class="content">
    <p class="heading">Vintage is Carbon Neutral Certified
    </p><p class="para">
      Drive and share cars knowing your carbon footprint is balanced out by greenhouse-gas-reduction projects. Carbon-neutral travel on Turo is now verified with a carbon neutral certification!
    </p>
    <button class="btn">Explore sustainaility</button>
  </div>
</div>
</div>

</article>
