<div class="banner" style="background-image: url(https://res.cloudinary.com/di69rkads/image/upload/v1700746571/Captura_de_Tela_2023-11-23_a%CC%80s_10.35.56_ti312s.png);">

</div>

<article>
<div class="content">
    <h2 class="mt-4 mb-4"> <strong>STAY VINTAGE</strong></h2>
    <h3>Explore the world's largest car vintage marketplace</h3>
  </div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <%# <h2 class="mt-4 mb-4"> <strong>STAY VINTAGE</strong></h2>
            <h3>Explore the world's largest car vintage marketplace</h3> %>
        </div>
        <div class="col-md-6 col-lg-4">
            <!-- Bootstrap card box -->
            <div class="card-box">
                <div class="card-thumbnail">
                    <img src="https://res.cloudinary.com/di69rkads/image/upload/v1700746571/Captura_de_Tela_2023-11-23_a%CC%80s_10.35.56_ti312s.pngi)" class="img-fluid" alt="">
                </div>
                <h3><a href="#" class="mt-2 text-danger">Autênticos</a></h3>
                <p class="text-secondary"></p>
                <a href="#" class="btn btn-sm btn-danger float-right">Read more >></a>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <!-- Bootstrap card box -->
            <div class="card-box">
                <div class="card-thumbnail">
                    <img src="images/office-image-two.jpg" class="img-fluid" alt="">
                </div>
                <h3><a href="#" class="mt-2 text-danger">Originais</a></h3>
                <p class="text-secondary"></p>
                <a href="#" class="btn btn-sm btn-danger float-right">Read more >></a>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <!-- Bootstrap card box -->
            <div class="card-box">
                <div class="card-thumbnail">
                    <img src="images/office-image-three.jpg" class="img-fluid" alt="">
                </div>
                <h3><a href="#" class="mt-2 text-danger">Restaurados</a></h3>
                <p class="text-secondary"></p>
                <a href="#" class="btn btn-sm btn-danger float-right">Read more >></a>
            </div>
        </div>
    </div>
</div>
</article>
