/* Estilos para a classe container */
.container {
  text-align: center;
  max-width: 600px; /* Define a largura máxima do container */
  margin: 0 auto; /* Centraliza o container na página */
  padding: 20px; /* Adiciona um espaço interno ao redor do container */
  background-color: #f9f9f9; /* Cor de fundo para o container */
  border-radius: 8px; /* Adiciona bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
}

/* Estilos para o título */
.title {
  text-align: center; /* Centraliza o texto do título */
  font-size: 32px; /* Define o tamanho da fonte do título */
  margin-bottom: 20px; /* Adiciona um espaço abaixo do título */
}

/* Estilos para a imagem */
.card-category img {
  display: block; /* Garante que a imagem seja exibida como um bloco */
  max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner pai */
  height: auto; /* Mantém a proporção da imagem */
  margin-bottom: 20px; /* Adiciona um espaço abaixo da imagem */
}

/* Estilos para os parágrafos */
.card-category p {
  margin-bottom: 10px; /* Adiciona um espaço entre os parágrafos */
}

/* Estilos para os botões */
.btn {
  display: inline-block; /* Permite que os botões fiquem em linha */
  padding: 8px 16px; /* Adiciona espaçamento interno aos botões */
  margin-right: 10px; /* Adiciona um espaço entre os botões */
  text-decoration: none; /* Remove sublinhado padrão de links */
  border-radius: 4px; /* Adiciona bordas arredondadas aos botões */
}

.btn-delete {
  background-color: #ff4d4f; /* Cor de fundo para o botão de exclusão */
  color: #fff; /* Cor do texto para o botão de exclusão */
}

.btn-delete:hover {
  background-color: #ff7875; /* Cor de fundo ao passar o mouse sobre o botão de exclusão */
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;

}

// -----------CARDS-CAR-IN-INDEX-------------------------------------------------------
#ads {
    margin: 30px 0 30px 0;

}

#ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #a54b0a;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #ffffff;
        padding: 5px 10px;
        font-size: 14px;

    }

#ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #a54b0a;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 14px;
        width: 50px;
        height: 50px;
        padding: 15px 0 0 0;
}


#ads .card-detail-badge {
        background: #ed6b0f;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;
    }



#ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

#ads .card-image-overlay {
        font-size: 20px;

    }


#ads .card-image-overlay span {
            display: inline-block;
        }


#ads .ad-btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #ed6b0f;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #000;
        overflow: hidden;
        position: relative;
        background-color: #ed6b0f;
    }

#ads .ad-btn:hover {
            background-color: #ed6b0f;
            color: #1e1717;
            border: 2px solid #ed6b0f;
            background: transparent;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
        }

#ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }

.car-image {
  width: 100%;
  object-fit: cover;
}

.footer {
  margin-top: auto;
  bottom: 0;
  position: fixed;
  width: 100%;
}
