<div class="contact-container">
  <h1><strong>CONTACT US</strong></h1>
  <hr>
  <h3>Email: contact@vintageauto.com</h3>
  <hr>
  <h3>(81)99303-8474</h3>
  <hr>
  <h3>R. Jericó, 193 - cj. 72 - Vila Madalena, São Paulo - SP, 05435-040</h3>
</div>
