<div class="container">
  <br>
  <h4>Our cars</h4>
  <br>
  <div class="row" id="ads">
    <!-- Category Card -->
    <% @cars.each do |car| %>
      <div class="col-md-4">
        <div class="card rounded">
          <div class="card-image">
            <span class="card-notify-year"><%= car.year %></span>
            <% if car.photo.attached? %>
              <%= cl_image_tag car.photo.key, crop: :fit, class:"car-image" %>
            <% end %>
          </div>
          <div class="card-image-overlay m-auto">
          </div>
          <div class="card-body text-center">
            <div class="ad-title m-auto">
              <h5><%= car.model %></h5>
              <%= link_to "VIEWS",car_path(car), class:"text-decoration-none ad-btn" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
