
<div class="container">
  <br>
  <h4>Our cars</h4>
  <br>
  <div class="row" id="ads">
    <!-- Category Card -->
    <% @cars.each do |car| %>
      <div class="col-md-4">
        <div class="card rounded">
          <div class="card-image">
            <span class="card-notify-year"><%= car.year %></span>
            <%= cl_image_tag car.photo.key, crop: :fit, class:"car-image" %>
          </div>
          <div class="card-image-overlay m-auto">
          </div>
          <div class="card-body text-center">
            <div class="ad-title m-auto">
              <h5><%= car.model %></h5>
            </div>
        <a class="ad-btn"  <%= link_to car_path(car), class:"text-decoration-none" do %> VIEW </a>
            <%# <a class="ad-btn" href="#">View</a> %>
          </div>
        </div>
      </div>
    <% end %>
     <% end %>
  </div>
</div>
