<section class="navigation footer" id="second-navigation">
    <!-- ... Estrutura da segunda barra de navegação ... -->
    <nav>
      <div class="nav-mobile"><a id="nav-toggle-bottom" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <!-- Adicione os itens do menu da segunda barra de navegação conforme necessário -->
        <li>
          <%= link_to "Privacy Policy - Vintage Auto Market", policy_path %>
        </li>
        <li>
          <a href="#!">FAQ</a>
        </li>
        <!-- ... Mais itens conforme necessário ... -->
      </ul>
    </nav>
</section>
