<section class="navigation footer" id="second-navigation">
  <nav>
    <div class="nav-mobile"><a id="nav-toggle-bottom" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <%= link_to "Privacy Policy", policy_path %>
        </li>
        <li>
          <a href="#!">FAQ</a>
      </li>
    </ul>
  </nav>
</section>
<%# -------------------------------------------------------------------------- %>
